@(
triggersByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.TriggerKey])],
jobGroupNames: Iterable[String],
monitoringTeams: Seq[String],
triggerForm: Form[com.lucidchart.piezo.admin.controllers.TriggerFormValue],
formAction: play.api.mvc.Call,
existing: Boolean,
isTemplate: Boolean,
errorMessage: Option[String] = None,
scripts: List[String] = List[String]("js/jobData.js", "js/triggerMonitoring.js", "js/jobnamecomplete.js")
)(
implicit
request: play.api.mvc.Request[AnyContent],
messagesProvider: play.api.i18n.MessagesProvider,
)

@import com.lucidchart.piezo.TriggerMonitoringPriority
@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import com.lucidchart.piezo.admin.views.FormHelpers._

@com.lucidchart.piezo.admin.views.html.triggersLayout(triggersByGroup, None, scripts) {
  @if(!errorMessage.isEmpty) {
    <h3 class="text-danger">@errorMessage.get</h3>
  }

  @if(existing) {
    <h3>Edit Trigger</h3>
  } else {
    <h3>New Trigger</h3>
  }

  <div class="row mb-3">
      <div class="col-sm-2">
          <select class="form-select" onchange="window.location = this.options[this.selectedIndex].value;" @if(isTemplate){disabled} >
              <option value="@piezoRoutes.Triggers.getNewTriggerForm("cron")?@request.rawQueryString" @if(triggerForm.data.get("triggerType")==Some("cron")) {selected} else {}>Cron</option>
              <option value="@piezoRoutes.Triggers.getNewTriggerForm("simple")?@request.rawQueryString" @if(triggerForm.data.get("triggerType")==Some("simple")) {selected} else {}>Simple</option>
          </select>
      </div>
      <div class="col-sm-2">
          @if(triggerForm.data.get("triggerType").getOrElse("") == "simple") {
          <a class="piezo-button" href="http://quartz-scheduler.org/documentation/quartz-2.x/tutorials/tutorial-lesson-05" title="help" target="_blank">@Icon.question</a>
          } else {
          <a class="piezo-button" href="http://quartz-scheduler.org/documentation/quartz-2.x/tutorials/tutorial-lesson-06" title="help" target="_blank">@Icon.question</a>
          }
      </div>
  </div>
  <br/>

  <h4 class="text-danger">@triggerForm.errors.filter(_.key == "").map(_.message).mkString(", ")</h4>
  <form role="form" action="@formAction" method="POST">

    @if(!existing) {
        <datalist id="trigger-groups-list">
        @triggersByGroup.map { case (name, _) =>
            <option value="@name"></option>
        }
        </datalist>
        <datalist id="job-groups-list">
        @jobGroupNames.map { name =>
            <option value="@name"></option>
        }
        </datalist>
        <datalist id="job-names-list">
            @* This will be filled out by javascript lazily *@
        </datalist>
    }

    @defining(if(existing) {Symbol("readonly")} else {Symbol("none")}) { newEditOnly =>
    @helper.input(triggerForm("group"), Symbol("_label") -> "Group", Symbol("placeholder") -> "Group", Symbol("value")-> triggerForm.data.get("group").getOrElse(""), newEditOnly -> None) { (id, name, value, args) =>
      <input type="text" class="form-control" list="trigger-groups-list" name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("name"), Symbol("_label") -> "Name", Symbol("placeholder") -> "Name", Symbol("value")-> triggerForm.data.get("name").getOrElse(""), newEditOnly -> None) { (id, name, value, args) =>
      <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("jobGroup"), Symbol("_label") -> "Job group",  Symbol("placeholder") -> "Job group", Symbol("value")-> triggerForm.data.get("jobGroup").getOrElse(""), newEditOnly -> None) { (id, name, value, args) =>
      <input type="text" class="form-control" list="job-groups-list" name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("jobName"), Symbol("_label") -> "Job name", Symbol("placeholder") -> "Job name", Symbol("value")-> triggerForm.data.get("jobName").getOrElse(""), newEditOnly -> None) { (id, name, value, args) =>
      <input type="text" class="form-control" list="job-names-list" name="@name" id="@id" @toHtmlArgs(args)>
    }
    }
    @helper.select(triggerForm("triggerMonitoringPriority"), TriggerMonitoringPriority.values.map(tp => tp.name -> tp.name), Symbol("_label") -> "Monitoring Priority", Symbol("class") -> "form-select", Symbol("value") -> triggerForm.data.get("triggerMonitoringPriority").getOrElse(TriggerMonitoringPriority.Low), Symbol("placeholder") -> TriggerMonitoringPriority.Low)
    <div id="triggerMonitoringDetails">
        @helper.input(triggerForm("triggerMaxErrorTime"), Symbol("_label") -> "Monitoring - Max Seconds Between Successes", Symbol("placeholder") -> "", Symbol("value") -> triggerForm.data.get("triggerMaxErrorTime").getOrElse(300)) { (id, name, value, args) =>
        <input type="number" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
        }
        @if(monitoringTeams.nonEmpty) {
            @helper.select(triggerForm("triggerMonitoringTeam"), monitoringTeams.map(mt => mt -> mt), Symbol("_default") -> "Select team", Symbol("_label") -> "Monitoring team", Symbol("class") -> "form-select", Symbol("value") -> triggerForm.data.get("triggerMonitoringTeam").getOrElse(""))
        } else {
            @helper.input(triggerForm("triggerMonitoringTeam"), Symbol("_label") -> "Monitoring team",  Symbol("placeholder") -> "", Symbol("value") -> triggerForm.data.get("triggerMonitoringTeam").getOrElse(None)) { (id, name, value, args) =>
                <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            }
        }
    </div>

    @helper.input(triggerForm("description"), Symbol("_label") -> "Description", Symbol("inputDivClass") -> "col-sm-8", Symbol("placeholder") -> "Description", Symbol("value")-> triggerForm.data.get("description").getOrElse("")) { (id, name, value, args) =>
      <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
    }
    <input type="hidden" name="triggerType" id="triggerType" value="@triggerForm.data.get("triggerType")"/>
    <div class="clearfix"></div>
    @if(triggerForm.data.get("triggerType").getOrElse("") == "simple") {
      @helper.input(triggerForm("simple.repeatCount"), Symbol("_label") -> "Repeat count",  Symbol("_class") -> "form-horizontal-inline", Symbol("inputDivClass") -> "col-sm-2", Symbol("placeholder") -> "Repeat count", Symbol("value")-> triggerForm.data.get("simple.repeatCount").getOrElse("")) { (id, name, value, args) =>
        <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
      }
      @helper.input(triggerForm("simple.repeatInterval"), Symbol("_label") -> "Repeat interval (seconds)", Symbol("_class") -> "form-horizontal-inline", Symbol("inputDivClass") -> "col-sm-2", Symbol("placeholder") -> "Repeat interval (seconds)", Symbol("value")-> triggerForm.data.get("simple.repeatInterval").getOrElse("")) { (id, name, value, args) =>
        <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
      }
    } else {
      @helper.input(triggerForm("cron.cronExpression"), Symbol("_label") -> "Cron Expression", Symbol("_class") -> "form-horizontal-inline",  Symbol("placeholder") -> "Cron expression", Symbol("value")-> triggerForm.data.get("cron.cronExpression").getOrElse("")) { (id, name, value, args) =>
          <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
      }
    }

    @com.lucidchart.piezo.admin.views.html.jobDataMap(triggerForm("job-data-map"))

    <div class="clearfix"></div>
    <button type="submit" class="btn btn-primary submit-btn">@if(existing) {Save} else {Create}</button>
    <button type="button" class="btn btn-danger submit-btn" onclick="history.back();" value="Cancel">Cancel</button>
  </form>
}
