@(
jobsByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.JobKey])],
jobForm: Form[org.quartz.JobDetail],
submitValue: String,
formAction: play.api.mvc.Call,
existing: Boolean,
errorMessage: Option[String] = None,
scripts: List[String] = List[String]("js/jobData.js")
)(
implicit
request: play.api.mvc.Request[AnyContent],
messagesProvider: play.api.i18n.MessagesProvider
)

@import com.lucidchart.piezo.admin.views.FormHelpers._

@com.lucidchart.piezo.admin.views.html.jobsLayout(jobsByGroup, None, scripts) {
  @if(!errorMessage.isEmpty) {
    <h3 class="text-danger">@errorMessage.get</h3>
  }

  @if(existing) {
    <h3>Edit Job</h3>
  } else {
    <h3>New Job</h3>
  }

<h4 class="text-danger">@jobForm.errors.filter(_.key == "").map(_.message).mkString(", ")</h4>
<form role="form" action="@formAction" method="POST">
    @defining(if(existing) {Symbol("readonly")} else {Symbol("none")}) { newEditOnly =>

    @if(!existing) {
    <datalist id="job-groups-list">
        @jobsByGroup.map { case (name, _) =>
        <option value="@name"></option>
        }
    </datalist>
    }

    @helper.inputText(jobForm("group"), Symbol("_label") -> "Group", Symbol("placeholder") -> "Group", newEditOnly -> None, Symbol("class") -> "form-control", Symbol("list") -> "job-groups-list")
    @helper.inputText(jobForm("name"), Symbol("_label") -> "Name", Symbol("placeholder") -> "Name", newEditOnly -> None, Symbol("class") -> "form-control") @helper.inputText(jobForm("class"), Symbol("_label") -> "Class", Symbol("placeholder") -> "Name", Symbol("class") -> "form-control")
    @helper.inputText(jobForm("description"), Symbol("_label") -> "Description", Symbol("placeholder") -> "Description", Symbol("class") -> "form-control") @helper.checkbox(jobForm("durable"), Symbol("_label") -> "Durable", Symbol("readonly") -> None, Symbol("class") -> "form-check-input my-auto ms-3", Symbol("checked") -> true, Symbol("disabled") -> true, Symbol("id") -> "durable-placeholder")

    <input type="hidden" id="durable" name="durable" value="true" readonly="true" />

    @helper.checkbox(jobForm("requests-recovery"), Symbol("_label") -> "Requests recovery", Symbol("class") -> "form-check-input my-auto ms-3") }

    @com.lucidchart.piezo.admin.views.html.jobDataMap(jobForm("job-data-map"))

    <button type="submit" class="btn btn-primary submit-btn">@submitValue</button>
    <button type="button" class="btn btn-danger submit-btn" onclick="history.back()" value="Cancel">Cancel</button>
</form>
}
