@(
triggersByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.TriggerKey])],
triggerForm: Form[(org.quartz.Trigger, com.lucidchart.piezo.TriggerMonitoringPriority.Value)],
triggerMonitoringPriority: com.lucidchart.piezo.TriggerMonitoringPriority.TriggerMonitoringPriority = com.lucidchart.piezo.TriggerMonitoringPriority.Off,
formAction: play.api.mvc.Call,
existing: Boolean,
isTemplate: Boolean,
errorMessage: Option[String] = None,
scripts: List[String] = List[String]("js/jobData.js", "js/typeAhead.js")
)(
implicit
request: play.api.mvc.Request[AnyContent]
)

@import com.lucidchart.piezo.TriggerMonitoringPriority
@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import com.lucidchart.piezo.admin.views
@import java.net.URLEncoder
@import org.quartz._
@import com.lucidchart.piezo.admin.views.FormHelpers._

@com.lucidchart.piezo.admin.views.html.triggersLayout(triggersByGroup, None, scripts) {
  @if(!errorMessage.isEmpty) {
    <h3 class="text-danger">@errorMessage.get</h3>
  }

  @if(existing) {
    <h3>Edit Trigger</h3>
  } else {
    <h3>New Trigger</h3>
  }

  <div class="form-horizontal">
      <div class="form-group">
          <div class="col-sm-2">
              <select class="form-control col-sm-2" onchange="window.location = this.options[this.selectedIndex].value;" @if(isTemplate){disabled} >
                  <option value="@piezoRoutes.Triggers.getNewTriggerForm("cron")?@request.rawQueryString" @if(triggerForm.data.get("triggerType")==Some("cron")) {selected} else {}>Cron</option>
                  <option value="@piezoRoutes.Triggers.getNewTriggerForm("simple")?@request.rawQueryString" @if(triggerForm.data.get("triggerType")==Some("simple")) {selected} else {}>Simple</option>
              </select>
          </div>
          <div class="col-sm-2">
              @if(triggerForm.data.get("triggerType").getOrElse("") == "simple") {
              <a class="piezo-button" href="http://quartz-scheduler.org/documentation/quartz-2.x/tutorials/tutorial-lesson-05" target="_blank"><span class="glyphicon glyphicon-question-sign"/></a>
              } else {
              <a class="piezo-button" href="http://quartz-scheduler.org/documentation/quartz-2.x/tutorials/tutorial-lesson-06" target="_blank"><span class="glyphicon glyphicon-question-sign"/></a>
              }
          </div>
      </div>
  </div>
  <br/>

  <h4 class="text-danger">@triggerForm.errors.filter(_.key == "").map(_.message).mkString(", ")</h4>
  <form role="form" action="@formAction" method="POST">
    <div class="form-horizontal">
    @defining(if(existing) {'readonly} else {'none}) { newEditOnly =>
    @helper.input(triggerForm("group"), '_label -> "Group", 'labelClass -> "col-sm-2 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Group", 'value-> triggerForm.data.get("group").getOrElse(""), newEditOnly -> None) { (id, name, value, args) =>
      <input type="text" class="trigger-group-type-ahead form-control form-inline-control" name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("name"), '_label -> "Name", 'labelClass -> "col-sm-2 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Name", 'value-> triggerForm.data.get("name").getOrElse(""), newEditOnly -> None) { (id, name, value, args) =>
      <input type="text" class="form-control form-inline-control " name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("jobGroup"), '_label -> "Job group", 'labelClass -> "col-sm-2 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Job group", 'value-> triggerForm.data.get("jobGroup").getOrElse(""), newEditOnly -> None) { (id, name, value, args) =>
      <input type="text" class="job-group-type-ahead form-control form-inline-control " name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("jobName"), '_label -> "Job name", 'labelClass -> "col-sm-2 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Job name", 'value-> triggerForm.data.get("jobName").getOrElse(""), newEditOnly -> None) { (id, name, value, args) =>
      <input type="text" class="job-name-type-ahead form-control form-inline-control " name="@name" id="@id" @toHtmlArgs(args)>
    }
    }
    @helper.select(triggerForm("triggerMonitoringPriority"), TriggerMonitoringPriority.values.toList.map(tp => tp.toString -> tp.toString), '_label -> "Monitoring Priority", 'labelClass -> "col-sm-2 text-right", 'inputDivClass -> "col-sm-4", 'class -> "form-control", 'placeholder -> TriggerMonitoringPriority.Off)

    @helper.input(triggerForm("description"), '_label -> "Description", 'labelClass -> "col-sm-2 text-right", 'inputDivClass -> "col-sm-10", 'placeholder -> "Description", 'value-> triggerForm.data.get("description").getOrElse("")) { (id, name, value, args) =>
      <input type="text" class="form-control form-inline-control " name="@name" id="@id" @toHtmlArgs(args)>
    }
    <input type="hidden" name="triggerType" id="triggerType" value="@triggerForm.data.get("triggerType")"/>
    </div>
    <div class="clearfix"></div>
    <div class="form-horizontal">
    @if(triggerForm.data.get("triggerType").getOrElse("") == "simple") {
      @helper.input(triggerForm("simple.repeatCount"), '_label -> "Repeat count", 'labelClass -> "col-sm-2 text-right", '_class -> "form-horizontal-inline", 'inputDivClass -> "col-sm-2", 'placeholder -> "Repeat count", 'value-> triggerForm.data.get("simple.repeatCount").getOrElse("")) { (id, name, value, args) =>
        <input type="text" class="form-control form-inline-control " name="@name" id="@id" @toHtmlArgs(args)>
      }
      @helper.input(triggerForm("simple.repeatInterval"), '_label -> "Repeat interval (seconds)", 'labelClass -> "col-sm-2 text-right", '_class -> "form-horizontal-inline", 'inputDivClass -> "col-sm-2", 'placeholder -> "Repeat interval (seconds)", 'value-> triggerForm.data.get("simple.repeatInterval").getOrElse("")) { (id, name, value, args) =>
        <input type="text" class="form-control form-inline-control" name="@name" id="@id" @toHtmlArgs(args)>
      }
    } else {
      @helper.input(triggerForm("cron.cronExpression"), '_label -> "Cron Expression", 'labelClass -> "col-sm-2 text-right", '_class -> "form-horizontal-inline", 'inputDivClass -> "col-sm-4", 'placeholder -> "Cron expression", 'value-> triggerForm.data.get("cron.cronExpression").getOrElse("")) { (id, name, value, args) =>
          <input type="text" class="form-control form-inline-control" name="@name" id="@id" @toHtmlArgs(args)>
      }
    }

    <h4>Job Data Map</h4>

    <div class="job-data-map">
      @helper.repeat(triggerForm("job-data-map"), min = triggerForm("job-data-map").indexes.length + 1) { dataMap =>

        @dataMap("key").value.map { _ =>
          @dataMap("value").value.map { _ =>
            <div class="job-data-delete text-right"><a href="#">delete</a></div>
          }
        }

        @helper.inputText(dataMap("key"), '_label -> "Key", 'labelClass -> "col-sm-2 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Key", 'class -> "job-data-key form-control form-inline-control")
        @helper.inputText(dataMap("value"), '_label -> "Value", 'labelClass -> "col-sm-2 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Value", 'class -> "job-data-value form-control form-inline-control")

      }

      <div class="job-data-add text-right"><a href="#">add</a></div>
    </div>

    </div>
    <div class="clearfix"></div>
    <button type="submit" class="btn btn-default submit-btn">@if(existing) {Save} else {Create}</button>
    <button type="button" class="btn btn-default submit-btn" onclick="history.back();" value="Cancel">Cancel</button>
  </form>
}