@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import play.api.Configuration
@import org.quartz.TriggerKey
@this(configuration: Configuration)

@(
jobsByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.JobKey])],
currentJob: Option[org.quartz.JobDetail],
jobHistory: Option[List[com.lucidchart.piezo.JobRecord]],
triggers: Option[List[org.quartz.Trigger]],
errorMessage: Option[String] = None,
pausableTriggers: List[TriggerKey] = Nil,
resumableTriggers: List[TriggerKey] = Nil
)(
implicit
request: play.api.mvc.Request[AnyContent]
)


@com.lucidchart.piezo.admin.views.html.jobsLayout(jobsByGroup, currentJob) {
    @if(!errorMessage.isEmpty) {
        <h3 class="text-danger">@errorMessage.get</h3>
    }
    @if(!currentJob.isEmpty) {
      <h3 class="pull-left job-name">@currentJob.get.getKey.getGroup() &raquo; <span class="text-info">@currentJob.get.getKey.getName()</span></h3>
      <a class="piezo-button pull-right" data-toggle="tooltip" title="Export job" href="@{piezoRoutes.Jobs.getJobDetail(currentJob.get.getKey.getGroup(),currentJob.get.getKey.getName())}" download="@{currentJob.get.getKey.getGroup()}-@{currentJob.get.getKey.getName()}.json">
        <span class="glyphicon glyphicon-download"></span>
      </a>
      <a class="piezo-button pull-right" data-toggle="tooltip" title="Duplicate job" href="@{piezoRoutes.Jobs.getNewJobForm()}?templateGroup=@currentJob.get.getKey.getGroup()&templateName=@currentJob.get.getKey.getName()">
        <span class="glyphicon glyphicon-duplicate"></span>
      </a>
      <a class="piezo-button pull-right" href="@piezoRoutes.Jobs.getEditJobAction(currentJob.get.getKey.getGroup(), currentJob.get.getKey.getName())" data-toggle="tooltip" title="Edit job">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a id="deleteJob" class="piezo-button pull-right" data-toggle="tooltip" title="Delete job" onclick="$('#deleteConfirm').show()">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
      <a id="runJob" class="piezo-button pull-right" data-toggle="tooltip" title="Trigger job" onclick="$('#runConfirm').show()">
        <span class="glyphicon glyphicon-flash"></span>
      </a>
      @if(!pausableTriggers.isEmpty) {
        <a id="pauseJob" class="piezo-button pull-right" data-toggle="tooltip" title="Pause job" onclick="$('#pauseConfirm').show()">
            <span class="glyphicon glyphicon-pause"></span>
        </a>
      } else {
        @if(!resumableTriggers.isEmpty) {
            <a id="resumeJob" class="piezo-button pull-right" data-toggle="tooltip" title="Resume job">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        }
      }

      <div class="clearfix"></div>

        <div id="errorGrowl" style="display:none;" class="alert alert-danger">
            <p id="errorMessage">Failed to delete job.</p>
        </div>

        <!-- Run Job Alerts -->
        <div id="runSuccess"  style="display:none;" class="alert alert-success">
          <p>The job has been triggered, and will run once a thread becomes available.</p>
        </div>
        <div id="runConfirm" style="display:none;" class="alert alert-warning fade in">
            <h4>Are you sure you want to run this job right now?</h4>
            <button type="button" class="btn btn-success" onclick="runJob()">Run</button>
            <button type="button" class="btn btn-default" onclick="$('#runConfirm').hide()">Cancel</button>
        </div>

        <!-- Delete Job Alerts -->
        <div id="deleteConfirm" style="display:none;" class="alert alert-warning fade in">
          <h4>This will permanently delete the job!</h4>
          <button type="button" class="btn btn-danger" onclick="deleteJob()">Delete</button>
          <button type="button" class="btn btn-default" onclick="$('#deleteConfirm').hide()">Cancel</button>
        </div>
        @defining(configuration.getOptional[Boolean]("com.lucidchart.piezo.admin.production").contains(true)) { inProd =>
            <!-- Pause Job Alerts -->
            <div id="pauseConfirm" style="display: none;" class="alert alert-@if(inProd) {danger} else {warning} fade in">
                <h4>Are you sure you want to pause the job?</h4>
                @if(inProd) {<h2><b>THIS IS IN PRODUCTION!!!</b></h2>}
                <button type="button" class="btn btn-@if(inProd) {danger} else {warning}" onclick="pauseJob()">Pause</button>
                <button type="button" class="btn btn-default" onclick="$('#pauseConfirm').hide()">Cancel</button>
            </div>
        }
        <script>
            var deleteConfirm = $('#deleteError');
            var deleteError = $('#deleteConfirm');
            var pauseConfirm = $('pauseError');
            var pauseError = $('pauseConfirm');
            var runConfirm = $('#runConfirm');
            var runSuccess = $('#runSuccess');
            var runError = $('#runError');

            function showErrorMessage(message) {
                $('#errorGrowl').show();
                $('#errorMessage').text(message);
                setTimeout(function() {
                    $('#errorGrowl').fadeOut(1000);
                }, 5000);
            }

            function pauseJob(){
                pauseConfirm.hide();
                @pausableTriggers.map { triggerKey =>
                    setTrigger(true, "@piezoRoutes.Triggers.patchTrigger(triggerKey.getGroup(), triggerKey.getName())");
                }
            }

            function deleteJob() {
                deleteConfirm.hide();
                var jobUrl = "@piezoRoutes.Jobs.deleteJob(currentJob.get.getKey.getGroup(), currentJob.get.getKey.getName())";
                var deleteRequest = new XMLHttpRequest();
                deleteRequest.onreadystatechange = function() {
                    if (deleteRequest.readyState === 4) {
                        if (deleteRequest.status === 200) {
                            window.location.assign("@piezoRoutes.Jobs.getIndex");
                        } else {
                            showErrorMessage('Failed to delete job.');
                        }
                    }
                };
                deleteRequest.open("DELETE", jobUrl, true);
                deleteRequest.send(null);
            }

            function runJob() {
                runConfirm.hide();
                var jobUrl = "@piezoRoutes.Triggers.triggerJob(currentJob.get.getKey.getGroup(), currentJob.get.getKey.getName())";
                var runRequest = new XMLHttpRequest();
                runRequest.onreadystatechange = function() {
                    if (runRequest.readyState === 4) {
                        if (runRequest.status === 200) {
                            runSuccess.show();
                            setTimeout(function() {
                                runSuccess.fadeOut(1000);
                            }, 5000);
                        } else {
                            showErrorMessage('Failed to run job.');
                        }
                    }
                };
                runRequest.open("POST", jobUrl, true);
                runRequest.send(null);
            }

            function setTrigger(pause, triggerUrl) {
                $.ajax({
                    url:triggerUrl,
                    type:'PATCH',
                    headers : {
                        'Accept' : 'application/json',
                        'Content-Type' : 'application/json'
                    },
                    data: JSON.stringify({"state": (pause? "PAUSED" : "NORMAL")}),
                    success: function(resp, status) {
                        window.location.reload();
                    },
                    error: function() {
                        showErrorMessage(pause? 'Failed to pause trigger.' : 'Failed to resume trigger.');
                    }
                });
            }
            $('#resumeJob').click(function() {
                @resumableTriggers.map { triggerKey =>
                    setTrigger(false, "@piezoRoutes.Triggers.patchTrigger(triggerKey.getGroup(), triggerKey.getName())");
                }
            });
        </script>
        <div class="clearfix"></div>
        <table class="table table-condensed table-fixed-first-col table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <td class="text-right">Class</td>
                <td>@currentJob.get.getJobClass.getName()</td>
            </tr>
            <tr>
                <td class="text-right">Description</td>
                <td>
                    @if(currentJob.get.getDescription() != null) {@currentJob.get.getDescription()} else {}
                </td>
            </tr>
            <tr>
                <td class="text-right small">Durable</td>
                <td class="small">@currentJob.get.isDurable()</td>
            </tr>
            <tr>
                <td class="text-right small">Persist job data after execution</td>
                <td class="small">@currentJob.get.isPersistJobDataAfterExecution()</td>
            </tr>
            <tr>
                <td class="text-right small">Concurrent execution disallowed</td>
                <td class="small">@currentJob.get.isConcurrentExecutionDisallowed()</td>
            </tr>
            <tr>
                <td class="text-right small">Requests recovery</td>
                <td class="small">@currentJob.get.requestsRecovery()</td>
            </tr>
            </tbody>
        </table>

        <hr />

        <h4>Job Data Map</h4>
        <table class="table table-bordered table-striped table-condensed job-data table-hover">
            <thead>
            <tr>
                <th class="text-right">Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @currentJob.get.getJobDataMap.getKeys.map { jobDataKey =>
                <tr>
                    <td class="text-right">@jobDataKey</td>
                    <td>@currentJob.get.getJobDataMap.get(jobDataKey)</td>
                </tr>
            }
            </tbody>
        </table>

        <hr />

        <h4 class="inline-header">Triggers</h4>
        <a class="piezo-button" href="@{piezoRoutes.Triggers.getNewTriggerForm("cron")}?jobGroup=@currentJob.get.getKey.getGroup()&jobName=@currentJob.get.getKey.getName()" data-toggle="tooltip" title="Add trigger for this job"><span class="glyphicon glyphicon-plus"></span></a>
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th class="text-right">Group</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            @triggers.get.map { trigger =>
              <tr>
                <td class="text-right">@trigger.getKey.getGroup()</td>
                <td><a href="@piezoRoutes.Triggers.getTrigger(trigger.getKey.getGroup(), trigger.getKey.getName())">@trigger.getKey.getName()</a></td>
              </tr>
            }
          </tbody>
        </table>

        @if(jobHistory.isDefined) {
            <h4>Job History</h4>
            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>Trigger Group</th>
                    <th>Trigger Name</th>
                    <th>Success</th>
                    <th>Start</th>
                    <th>Finish</th>
                </tr>
                </thead>
                <tbody>
                @jobHistory.get.map { record =>
                <tr>
                    <td>@record.trigger_group</td>
                    <td>@record.trigger_name</td>
                    <td class="column-success">@record.success</td>
                    <td>@record.start</td>
                    <td>@record.finish</td>
                </tr>
                }
                </tbody>
            </table>
        }
    }
}
