@(
jobsByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.JobKey])],
currentJob: Option[org.quartz.JobDetail],
jobHistory: Option[List[com.lucidchart.piezo.JobRecord]],
triggers: Option[List[org.quartz.Trigger]],
errorMessage: Option[String] = None
)(
implicit
request: play.api.mvc.Request[AnyContent]
)
@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import com.lucidchart.piezo.admin.views
@import java.net.URLEncoder

@com.lucidchart.piezo.admin.views.html.jobsLayout(jobsByGroup, currentJob) {
    @if(!errorMessage.isEmpty) {
        <h3 class="text-danger">@errorMessage.get</h3>
    }
    @if(!currentJob.isEmpty) {
      <h3 class="pull-left job-name">@currentJob.get.getKey.getGroup() &raquo; <span class="text-info">@currentJob.get.getKey.getName()</span></h3>
      <a class="piezo-button pull-right" href="@piezoRoutes.Jobs.getEditJob(currentJob.get.getKey.getGroup(), currentJob.get.getKey.getName())" data-toggle="tooltip" title="Edit job">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a id="deleteJob" class="piezo-button pull-right" data-toggle="tooltip" title="Delete job" onclick="$('#deleteConfirm').show()">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
      <div class="clearfix"></div>
        <div id="deleteError" class="alert alert-danger">
          <p>Failed to delete job.</p>
        </div>
        <div id="deleteConfirm" class="alert alert-warning fade in">
          <h4>This will permanently delete the job!</h4>
          <button type="button" class="btn btn-danger" onclick="deleteJob()">Delete</button>
          <button type="button" class="btn btn-default" onclick="$('#deleteConfirm').hide()">Cancel</button>
        </div>
        <script>
            $('#deleteError').hide();
            $('#deleteConfirm').hide();
            function deleteJob() {
                var jobUrl = "@piezoRoutes.Jobs.deleteJob(currentJob.get.getKey.getGroup(), currentJob.get.getKey.getName())";
                var deleteRequest = new XMLHttpRequest();
                deleteRequest.onreadystatechange = function() {
                    if (deleteRequest.readyState === 4) {
                        if (deleteRequest.status === 200) {
                            window.location.assign("@piezoRoutes.Jobs.getIndex()");
                        } else {
                            $('#deleteError').show();
                        }
                    }
                };
                deleteRequest.open("DELETE", jobUrl, true);
                deleteRequest.send(null);
            }
        </script>
        <div class="clearfix"></div>
        <table class="table table-condensed table-fixed-first-col table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <td class="text-right">Class</td>
                <td>@currentJob.get.getJobClass.getName()</td>
            </tr>
            <tr>
                <td class="text-right">Description</td>
                <td>
                    @if(currentJob.get.getDescription() != null) {@currentJob.get.getDescription()} else {}
                </td>
            </tr>
            <tr>
                <td class="text-right small">Durable</td>
                <td class="small">@currentJob.get.isDurable()</td>
            </tr>
            <tr>
                <td class="text-right small">Persist job data after execution</td>
                <td class="small">@currentJob.get.isPersistJobDataAfterExecution()</td>
            </tr>
            <tr>
                <td class="text-right small">Concurrent execution disallowed</td>
                <td class="small">@currentJob.get.isConcurrentExectionDisallowed()</td>
            </tr>
            <tr>
                <td class="text-right small">Requests recovery</td>
                <td class="small">@currentJob.get.requestsRecovery()</td>
            </tr>
            </tbody>
        </table>

        <hr />

        <h4>Job Data Map</h4>
        <table class="table table-bordered table-striped table-condensed job-data table-hover">
            <thead>
            <tr>
                <th class="text-right">Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @currentJob.get.getJobDataMap.getKeys.map { jobDataKey =>
                <tr>
                    <td class="text-right">@jobDataKey</td>
                    <td>@currentJob.get.getJobDataMap.get(jobDataKey)</td>
                </tr>
            }
            </tbody>
        </table>

        <hr />

        <h4>Triggers</h4>
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th class="text-right">Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            @triggers.get.map { trigger =>
              <tr>
                <td class="text-right"><a href="@piezoRoutes.Triggers.getTrigger(trigger.getKey.getGroup(), trigger.getKey.getName())">@trigger.getKey.getName()</a></td>
                <td>@trigger.getDescription()</td>
              </tr>
            }
          </tbody>
        </table>

        @if(jobHistory.isDefined) {
            <h4>Job History</h4>
            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>Trigger Name</th>
                    <th>Trigger Group</th>
                    <th>Success</th>
                    <th>Start</th>
                    <th>Finish</th>
                </tr>
                </thead>
                <tbody>
                @jobHistory.get.map { record =>
                <tr>
                    <td>@record.trigger_name</td>
                    <td>@record.trigger_group</td>
                    <td>@record.success</td>
                    <td>@record.start</td>
                    <td>@record.finish</td>
                </tr>
                }
                </tbody>
            </table>
        }
    }
}