@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import com.lucidchart.piezo.admin.views
@import java.net.URLEncoder
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime
@import org.quartz.{JobKey, SchedulerMetaData}
@(
jobsByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.JobKey])],
currentJob: Option[org.quartz.JobDetail],
jobsHistory: Option[List[com.lucidchart.piezo.JobRecord]],
untriggeredJobs: List[JobKey],
schedulerMetadata: SchedulerMetaData,
errorMessage: Option[String] = None
)(
implicit request: play.api.mvc.Request[AnyContent]
)

@com.lucidchart.piezo.admin.views.html.jobsLayout(jobsByGroup, currentJob) {
<h3>Select a job</h3>
<table class="table table-condensed table-fixed-first-col table-bordered table-striped table-hover">
    <tbody>
    <tr>
        <td class="text-right">Scheduler name</td>
        <td>@schedulerMetadata.getSchedulerName()</td>
    </tr>
    <tr>
        <td class="text-right">Total jobs</td>
        <td>@{jobsByGroup.foldLeft(0)((a, b) => a + b._2.length)}</td>
    </tr>
    </tbody>
</table>

    @if(jobsHistory.isDefined) {
    <h4>Jobs History</h4>
    <table class="table table-bordered table-striped table-hover table-condensed table-fixed-layout">
        <thead>
        <tr>
            <th class="column-time">Most Recent Start</th>
            <th class="column-time">Finish</th>
            <th class="column-long-content">Job Group</th>
            <th class="column-long-content">Job Name</th>
            <th class="column-long-content">Trigger Group</th>
            <th class="column-long-content">Trigger Name</th>
            <th class="column-success">Success</th>

        </tr>
        </thead>
        <tbody>
        @defining(DateTimeFormat.forPattern("yyyy-MM-dd HH:mm:ss")) { dtf =>
        @jobsHistory.get.map { record =>
        <tr>
            <td>@dtf.print(new DateTime(record.start))</td>
            <td>@dtf.print(new DateTime(record.finish))</td>
            <td>@record.group</td>
            <td><a href="@piezoRoutes.Jobs.getJob(record.group, record.name)">@record.name</a></td>
            <td>@record.trigger_group</td>
            <td>@record.trigger_name</td>
            <td>@record.success</td>

        </tr>
        }
        }
        </tbody>
    </table>
    }
    @if(!untriggeredJobs.isEmpty) {
    <h4>Untriggered Jobs</h4>
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th>Job Group</th>
            <th>Job Name</th>
        </tr>
        </thead>
        <tbody>
        @untriggeredJobs.map { job =>
        <tr>
            <td>@job.getGroup</td>
            <td><a href="@piezoRoutes.Jobs.getJob(job.getGroup, job.getName)">@job.getName</a></td>
        </tr>
        }
        </tbody>
    </table>
    }
}