@(
jobsByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.JobKey])],
currentJob: Option[org.quartz.JobDetail],
scripts: List[String] = List[String]()
)(
detailsContent: Html
)(
implicit
request: play.api.mvc.Request[AnyContent]
)
@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import com.lucidchart.piezo.admin.views
@import java.net.URLEncoder

@com.lucidchart.piezo.admin.views.html.main("Piezo Jobs", scripts) {
<div class="row">
    <div class="col-md-3">
        <h3>Job groups</h3>
        <div class="accordion jobs-list" id="accordion">
            @jobsByGroup.map { jobGroup =>
            @defining(jobGroup._1.replaceAll("\\W+", "_")) { collapseId =>
            @defining(!currentJob.isEmpty && jobGroup._1 == currentJob.get.getKey().getGroup()) { isOpen =>
            <div class="accordion-item">
                <h5 class="accordion-header">
                    <button class="accordion-button @if(!isOpen){collapsed}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@collapseId" aria-expanded="@isOpen" aria-controls="collapse@collapseId">
                        @jobGroup._1
                    </button>
                </h5>
                <div id="collapse@collapseId" class="accordion-collapse collapse @if(isOpen){show}" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="list-group">
                        @jobGroup._2.map { jobKey =>
                            <a href="@piezoRoutes.Jobs.getJob(jobKey.getGroup(), jobKey.getName())"
                            @if(!currentJob.isEmpty && jobGroup._1 == currentJob.get.getKey.getGroup() && jobKey.getName() == currentJob.get.getKey.getName()) {
                                class="list-group-item active"
                            } else {
                                class="list-group-item"
                            }
                            data-bs-toggle="tooltip" data-bs-placement="auto right" title="@jobKey.getName()">
                                @jobKey.getName()
                            </a>
                        }
                        </div>
                    </div>
                </div>
            </div>
            }
            }
            }
        </div>
    </div>
    <div class="col-md-9">
      <a class="piezo-button float-end" href="@piezoRoutes.Jobs.getNewJobForm()" data-bs-toggle="tooltip" title="Add job">@Icon.plus</a>
      @detailsContent
    </div>
</div>
}
