@(
triggersByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.TriggerKey])],
triggerForm: Form[org.quartz.Trigger],
errorMessage: Option[String] = None
)(
implicit
request: play.api.mvc.Request[AnyContent]
)

@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import com.lucidchart.piezo.admin.views
@import java.net.URLEncoder
@import org.quartz._
@import com.lucidchart.piezo.admin.views.FormHelpers._

@com.lucidchart.piezo.admin.views.html.triggersLayout(triggersByGroup, None) {
  @if(!errorMessage.isEmpty) {
    <h3 class="text-danger">@errorMessage.get</h3>
  }
  <h3>New Trigger</h3>

  <div class="form-inline">
      <div class="form-group">
          <select class="form-control form-inline-control-half" onchange="window.location = this.options[this.selectedIndex].value;">
              <option value="@piezoRoutes.Triggers.getNewTriggerForm("cron")" @if(triggerForm.data.get("triggerType")==Some("cron")) {selected} else {}>Cron</option>
              <option value="@piezoRoutes.Triggers.getNewTriggerForm("simple")" @if(triggerForm.data.get("triggerType")==Some("simple")) {selected} else {}>Simple</option>
          </select>
      </div>
  </div>
  <br/>

  <form class="form-inline" role="form" action="@piezoRoutes.Triggers.postTrigger()" method="POST">
    @helper.input(triggerForm("group"), '_label -> "Group", 'labelClass -> "sr-only", 'placeholder -> "Group") { (id, name, value, args) =>
      <input type="text" class="form-control form-inline-control-half form-inline-control-half" name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("name"), '_label -> "Name", 'labelClass -> "sr-only", 'placeholder -> "Name") { (id, name, value, args) =>
      <input type="text" class="form-control form-inline-control-half" name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("jobGroup"), '_label -> "Job group", 'labelClass -> "sr-only", 'placeholder -> "Job group") { (id, name, value, args) =>
      <input type="text" class="form-control form-inline-control-half" name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("jobName"), '_label -> "Job name", 'labelClass -> "sr-only", 'placeholder -> "Job name") { (id, name, value, args) =>
      <input type="text" class="form-control form-inline-control-half" name="@name" id="@id" @toHtmlArgs(args)>
    }
    @helper.input(triggerForm("description"), '_label -> "Description", 'labelClass -> "sr-only", 'placeholder -> "Description") { (id, name, value, args) =>
      <input type="text" class="form-control form-inline-control-half" name="@name" id="@id" @toHtmlArgs(args)>
    }
    <input type="hidden" name="triggerType" id="triggerType" value="@triggerForm.data.get("triggerType")"/>

    <div class="clearfix"/>
    @triggerForm.value.get match {
      case c: SimpleTrigger => {
        @helper.input(triggerForm("simple.repeatCount"), '_label -> "Repeat count", 'labelClass -> "sr-only", 'placeholder -> "Repeat count") { (id, name, value, args) =>
          <input type="text" class="form-control form-inline-control-half" name="@name" id="@id" @toHtmlArgs(args)>
        }
        @helper.input(triggerForm("simple.repeatInterval"), '_label -> "Repeat interval (seconds)", 'labelClass -> "sr-only", 'placeholder -> "Repeat interval (seconds)") { (id, name, value, args) =>
          <input type="text" class="form-control form-inline-control-half" name="@name" id="@id" @toHtmlArgs(args)>
        }
      }
      case s: CronTrigger => {
        @helper.input(triggerForm("cron.cronExpression"), '_label -> "Cron Expression", 'labelClass -> "sr-only", 'placeholder -> "Cron expression") { (id, name, value, args) =>
          <input type="text" class="form-control form-inline-control-half" name="@name" id="@id" @toHtmlArgs(args)>
        }
      }
      case _ => {
        <h5 class="text-danger">Unsupported trigger type @triggerForm.value.getClass.getName()</h5>
      }
    }
    <div class="clearfix"/>
    <button type="submit" class="btn btn-default">Create</button>
  </form>
}