@(
triggersByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.TriggerKey])],
currentTrigger: Option[org.quartz.Trigger],
triggerHistory: Option[List[com.lucidchart.piezo.TriggerRecord]],
errorMessage: Option[String] = None
)(
implicit
request: play.api.mvc.Request[AnyContent]
)

@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import com.lucidchart.piezo.admin.views
@import java.net.URLEncoder
@import org.quartz._

@com.lucidchart.piezo.admin.views.html.triggersLayout(triggersByGroup, currentTrigger) {
    @if(!errorMessage.isEmpty) {
        <h3 class="text-danger">@errorMessage.get</h3>
    }
    @if(!currentTrigger.isEmpty) {
        <h3 class="pull-left">@currentTrigger.get.getKey.getGroup() &raquo; <span class="text-info">@currentTrigger.get.getKey.getName()</span></h3>
        <button type="button" class="btn btn-default pull-right">
            <a href="@piezoRoutes.Triggers.getEditTrigger(currentTrigger.get.getKey.getGroup(), currentTrigger.get.getKey.getName())" data-toggle="tooltip" title="Edit trigger">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </button>
        <table class="table table-condensed table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <td class="text-right">Class name:</td>
                <td>@currentTrigger.get.getClass()</td>
            </tr>
            <tr>
                <td class="text-right">Trigger group:</td>
                <td>@currentTrigger.get.getKey.getGroup()</td>
            </tr>
            <tr>
                <td class="text-right">Trigger name:</td>
                <td>@currentTrigger.get.getKey.getName()</td>
            </tr>
            @if(currentTrigger.get.getJobKey() != null) {
            <tr>
                <td class="text-right">Job group:</td>
                <td>@currentTrigger.get.getJobKey.getGroup()</td>
            </tr>
            <tr>
                <td class="text-right">Job name:</td>
                <td>@currentTrigger.get.getJobKey.getName()</td>
            </tr>
            }
            @currentTrigger.get match {
                case c: CronTrigger => {
                    <tr>
                        <td class="text-right">Cron expression:</td>
                        <td>@c.getCronExpression()</td>
                    </tr>
                    <tr>
                        <td class="text-right">Expression summary:</td>
                        <td>@c.getExpressionSummary()</td>
                    </tr>
                    <tr>
                        <td class="text-right">Time zone:</td>
                        <td>@c.getTimeZone().getDisplayName()</td>
                    </tr>
                }
                case s: SimpleTrigger => {
                    <tr>
                        <td class="text-right">Repeat count:</td>
                        <td>@s.getRepeatCount()</td>
                    </tr>
                    <tr>
                        <td class="text-right">Repeat interval:</td>
                        <td>@s.getRepeatInterval()</td>
                    </tr>
                    <tr>
                        <td class="text-right">Times triggered:</td>
                        <td>@s.getTimesTriggered()</td>
                    </tr>
                }
                case _ => { }
            }
            <tr>
                <td class="text-right">Description:</td>
                <td>@currentTrigger.get.getDescription()</td>
            </tr>
            <tr>
                <td class="text-right small">End time:</td>
                <td class="small">@currentTrigger.get.getEndTime()</td>
            </tr>
            <tr>
                <td class="text-right small">Final fire time:</td>
                <td class="small">@currentTrigger.get.getFinalFireTime()</td>
            </tr>
            <tr>
                <td class="text-right small">Misfire instruction:</td>
                <td class="small">@currentTrigger.get.getMisfireInstruction()</td>
            </tr>
            <tr>
                <td class="text-right small">Next fire time:</td>
                <td class="small">@currentTrigger.get.getNextFireTime()</td>
            </tr>
            <tr>
                <td class="text-right small">Previous fire time:</td>
                <td class="small">@currentTrigger.get.getPreviousFireTime()</td>
            </tr>
            <tr>
                <td class="text-right small">Start time:</td>
                <td class="small">@currentTrigger.get.getStartTime()</td>
            </tr>
            </tbody>
        </table>

        <hr />

        <h4>Trigger Data Map</h4>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th class="text-right">Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            @currentTrigger.get.getJobDataMap.getKeys.map { triggerDataKey =>
                <tr>
                    <td class="text-right">triggerDataKey</td>
                    <td>@currentTrigger.get.getJobDataMap.getString(triggerDataKey)</td>
                </tr>
            }
            </tbody>
        </table>

        <hr />

        @if(triggerHistory.isDefined) {
            <h4>Trigger History</h4>
            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>Scheduled Start</th>
                    <th>Actual Start</th>
                    <th>Finish</th>
                    <th>Misfire</th>
                </tr>
                </thead>
                <tbody>
                @triggerHistory.get.map { record =>
                    <tr>
                        <td>@record.scheduled_start</td>
                        <td>@record.actual_start</td>
                        <td>@record.finish</td>
                        <td>@record.misfire</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }
}