@import com.lucidchart.piezo.TriggerMonitoringPriority
@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import com.lucidchart.piezo.admin.views
@import java.net.URLEncoder
@import org.quartz._
@import org.quartz.Trigger.TriggerState
@(
triggersByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.TriggerKey])],
currentTrigger: Option[org.quartz.Trigger],
triggerHistory: Option[List[com.lucidchart.piezo.TriggerRecord]],
errorMessage: Option[String] = None,
triggerMonitoringPriority: Option[com.lucidchart.piezo.TriggerMonitoringPriority.Value] = None,
triggerMaxErrorTime: Integer = 300,
triggerMonitoringTeam: Option[String] = None,
triggerState: Option[TriggerState] = None
)(
implicit
request: play.api.mvc.Request[AnyContent]
)

@com.lucidchart.piezo.admin.views.html.triggersLayout(triggersByGroup, currentTrigger) {
    @if(!errorMessage.isEmpty) {
        <h3 class="text-danger">@errorMessage.get</h3>
    }
    @if(!currentTrigger.isEmpty) {
        <h3 class="pull-left">@currentTrigger.get.getKey.getGroup() &raquo; <span class="text-info">@currentTrigger.get.getKey.getName()</span></h3>
        <a class="piezo-button pull-right" data-toggle="tooltip" title="Duplicate trigger" href="@{piezoRoutes.Triggers.getNewTriggerForm(
            currentTrigger.get match {
                case c: CronTrigger => "cron"
                case s: SimpleTrigger => "simple"
                case t => throw new MatchError(t)
            }
            )}?templateGroup=@currentTrigger.get.getKey.getGroup()&templateName=@currentTrigger.get.getKey.getName()">
            <span class="glyphicon glyphicon-duplicate"></span>
        </a>
        <a class="piezo-button pull-right" href="@piezoRoutes.Triggers.getEditTriggerAction(currentTrigger.get.getKey.getGroup(), currentTrigger.get.getKey.getName())" data-toggle="tooltip" title="Edit trigger">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a id="deleteTrigger" class="piezo-button pull-right" data-toggle="tooltip" title="Delete trigger" onclick="$('#deleteConfirm').show()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        @if(triggerState.contains(TriggerState.PAUSED) || triggerState.contains(TriggerState.ERROR)) {
            <a id="resumeTrigger" class="piezo-button pull-right" data-toggle="tooltip" title="Resume trigger">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        } else {
            <a id="pauseTrigger" class="piezo-button pull-right" data-toggle="tooltip" title="Pause trigger">
                <span class="glyphicon glyphicon-pause"></span>
            </a>
        }
        <div class="clearfix"></div>
        <div id="errorGrowl" style="display:none;" class="alert alert-danger">
            <p id="errorMessage"></p>
        </div>

        <div id="deleteConfirm" style="display:none;" class="alert alert-warning fade in">
          <h4>This will permanently delete the trigger!</h4>
            <button type="button" class="btn btn-danger" onclick="deleteTrigger()">Delete</button>
            <button type="button" class="btn btn-default" onclick="$('#deleteConfirm').hide()">Cancel</button>
        </div>
        <script>

            function showErrorMessage(message) {
                $('#errorGrowl').show();
                $('#errorMessage').text(message);
                setTimeout(function() {
                    $('#errorGrowl').fadeOut(1000);
                }, 5000);
            }

            function deleteTrigger() {
                var triggerUrl = "@piezoRoutes.Triggers.deleteTrigger(currentTrigger.get.getKey.getGroup(), currentTrigger.get.getKey.getName())";
                var deleteRequest = new XMLHttpRequest();
                deleteRequest.onreadystatechange = function() {
                    if (deleteRequest.readyState === 4) {
                        if (deleteRequest.status === 200) {
                            window.location.assign("@piezoRoutes.Triggers.getIndex");
                        } else {
                            showErrorMessage('Failed to delete trigger.');
                        }
                    }
                };
                deleteRequest.open("DELETE", triggerUrl, true);
                deleteRequest.send(null);
            }

            function setTriggerState(pause) {;
                $.ajax({
                    url:"@piezoRoutes.Triggers.patchTrigger(currentTrigger.get.getKey.getGroup(), currentTrigger.get.getKey.getName())",
                    type:'PATCH',
                    headers : {
                        'Accept' : 'application/json',
                        'Content-Type' : 'application/json'
                    },
                    data: JSON.stringify({"state": (pause? "PAUSED" : "NORMAL")}),
                    success: function(resp, status) {
                        window.location.reload();
                    },
                    error: function() {
                        showErrorMessage(pause? 'Failed to pause trigger.' : 'Failed to resume trigger.');
                    }
                });
            }
            $('#pauseTrigger').click(setTriggerState.bind(this,true));
            $('#resumeTrigger').click(setTriggerState.bind(this,false));
        </script>
        <table class="table table-condensed table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <td class="text-right">Class name:</td>
                <td>@currentTrigger.get.getClass()</td>
            </tr>
            <tr>
                <td class="text-right">Trigger group:</td>
                <td>@currentTrigger.get.getKey.getGroup()</td>
            </tr>
            <tr>
                <td class="text-right">Trigger name:</td>
                <td>@currentTrigger.get.getKey.getName</td>
            </tr>
            @if(currentTrigger.get.getJobKey() != null) {
            <tr>
                <td class="text-right">Job group:</td>
                <td>@currentTrigger.get.getJobKey.getGroup()</td>
            </tr>
            <tr>
                <td class="text-right">Job name:</td>
                <td><a href="@piezoRoutes.Jobs.getJob(currentTrigger.get.getJobKey.getGroup(), currentTrigger.get.getJobKey.getName())">@currentTrigger.get.getJobKey.getName()</a></td>
            </tr>
            }
            @currentTrigger.get match {
                case c: CronTrigger => {
                    <tr>
                        <td class="text-right">Cron expression:</td>
                        <td>@c.getCronExpression()</td>
                    </tr>
                    <tr>
                        <td class="text-right">Expression summary:</td>
                        <td>@c.getExpressionSummary()</td>
                    </tr>
                    <tr>
                        <td class="text-right">Time zone:</td>
                        <td>@c.getTimeZone().getDisplayName()</td>
                    </tr>
                }
                case s: SimpleTrigger => {
                    <tr>
                        <td class="text-right">Repeat count:</td>
                        <td>@s.getRepeatCount()</td>
                    </tr>
                    <tr>
                        <td class="text-right">Repeat interval (seconds):</td>
                        <td>@{s.getRepeatInterval() / 1000}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Times triggered:</td>
                        <td>@s.getTimesTriggered()</td>
                    </tr>
                }
                case _ => { }
            }
            @triggerMonitoringPriority.map { triggerMonitoringPriority =>
            <tr>
                <td class="text-right">Monitoring priority:</td>
                <td>@triggerMonitoringPriority</td>
            </tr>
            <tr>
                <td class="text-right">Monitoring - max seconds between successes:</td>
                <td>@triggerMaxErrorTime seconds</td>
            </tr>
            <tr>
                <td class="text-right">Monitoring team:</td>
                <td>@triggerMonitoringTeam.getOrElse("")</td>
            </tr>
            }
            <tr>
                <td class="text-right">Description:</td>
                <td>
                    @if(currentTrigger.get.getDescription() != null) {@currentTrigger.get.getDescription()} else {}
                </td>
            </tr>
            <tr>
                <td class="text-right small">State:</td>
                <td class="small">@triggerState.map(_.toString)</td>
            </tr>
            <tr>
                <td class="text-right small">End time:</td>
                <td class="small">@currentTrigger.get.getEndTime()</td>
            </tr>
            <tr>
                <td class="text-right small">Final fire time:</td>
                <td class="small">@currentTrigger.get.getFinalFireTime()</td>
            </tr>
            <tr>
                <td class="text-right small">Misfire instruction:</td>
                <td class="small">@currentTrigger.get.getMisfireInstruction()</td>
            </tr>
            <tr>
                <td class="text-right small">Next fire time:</td>
                <td class="small">@currentTrigger.get.getNextFireTime()</td>
            </tr>
            <tr>
                <td class="text-right small">Previous fire time:</td>
                <td class="small">@currentTrigger.get.getPreviousFireTime()</td>
            </tr>
            <tr>
                <td class="text-right small">Start time:</td>
                <td class="small">@currentTrigger.get.getStartTime()</td>
            </tr>
            </tbody>
        </table>

        <hr />

        <h4>Trigger Data Map</h4>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th class="text-right">Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            @currentTrigger.get.getJobDataMap.getKeys.map { triggerDataKey =>
                <tr>
                    <td class="text-right">@triggerDataKey</td>
                    <td>@currentTrigger.get.getJobDataMap.getString(triggerDataKey)</td>
                </tr>
            }
            </tbody>
        </table>

        <hr />

        @if(triggerHistory.isDefined) {
            <h4>Trigger History</h4>
            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>Scheduled Start</th>
                    <th>Actual Start</th>
                    <th>Finish</th>
                    <th>Misfire</th>
                </tr>
                </thead>
                <tbody>
                @triggerHistory.get.map { record =>
                    <tr>
                        <td>@record.scheduled_start</td>
                        <td>@record.actual_start</td>
                        <td>@record.finish</td>
                        <td>@record.misfire</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }
}
