@(
triggersByGroup: scala.collection.mutable.Buffer[(String, scala.collection.immutable.List[org.quartz.TriggerKey])],
currentTrigger: Option[org.quartz.Trigger],
scripts: List[String] = List[String]()
)(
detailsContent: Html
)(
implicit
request: play.api.mvc.Request[AnyContent]
)
@import com.lucidchart.piezo.admin.controllers.{routes=>piezoRoutes}
@import com.lucidchart.piezo.admin.views

@com.lucidchart.piezo.admin.views.html.main("Piezo Triggers", scripts) {
<div class="row">
    <div class="col-md-3">
        <h3>Trigger groups</h3>
        <div class="accordion jobs-list" id="accordion">
            @triggersByGroup.map { triggerGroup =>
            @defining(triggerGroup._1.replaceAll("\\W+", "_")) { collapseId =>
            @defining(!currentTrigger.isEmpty && triggerGroup._1 == currentTrigger.get.getKey().getGroup()) { isOpen =>
            <div class="accordion-item">
                <h5 class="accordion-header">
                    <button class="accordion-button @if(!isOpen){collapsed}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@collapseId" aria-expanded="@isOpen" aria-controls="collapse@collapseId">
                        @triggerGroup._1
                    </button>
                </h5>
                <div id="collapse@collapseId" class="accordion-collapse collapse @if(isOpen){show}" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="list-group">
                            @triggerGroup._2.map { triggerKey =>
                            <a href="@piezoRoutes.Triggers.getTrigger(triggerKey.getGroup(), triggerKey.getName())"
                            @if(!currentTrigger.isEmpty && triggerGroup._1 == currentTrigger.get.getKey.getGroup() && triggerKey.getName() == currentTrigger.get.getKey.getName()) {
                            class="list-group-item active"
                            } else {
                            class="list-group-item"
                            }
                            data-bs-toggle="tooltip" data-bs-placement="auto right" title="@triggerKey.getName()">
                            @triggerKey.getName()
                            </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
            }
            }
        </div>
    </div>
    <div class="col-md-9">
        <a class="piezo-button float-end" href="@piezoRoutes.Triggers.getNewTriggerForm("cron")" data-bs-toggle="tooltip" title="Add trigger">@Icon.plus</a>
        @detailsContent
    </div>
</div>
}
