# top-most EditorConfig file
root = true

# defaults for all files
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.rb]
indent_size = 2
indent_style = space

[*.php]
insert_final_newline = false

[*.scala]
indent_style = space
indent_size = 2

[*.scala.html]
indent_style = space
indent_size = 4

[*.scala.txt]
indent_style = space

[Makefile]
indent_style = tab

[*.makefile]
indent_style = tab

[makefile]
indent_style = tab
