*.class
*.log

# sbt specific
dist/*
target/
target-*/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/

# Scala-IDE specific
.scala_dependencies
.idea
.idea_modules
.bsp
.metals
.bloop/
project/metals.sbt
