
body {
    padding-top: 60px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.flash-container div {
    margin-top: 10px;
}

a:link.piezoicon, a:visited.piezoicon, a:hover.piezoicon, a:active.piezoicon {
    color: #29aae1 !important;
}

div.jobs-list .list-group {
    margin-bottom: 0px;
}

div.jobs-list .panel-heading {
    padding: 0px 0px 0px 10px;
}

div.jobs-list .panel-body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

div.jobs-list .list-group-item {
    border-style: none;
}

div.jobs-list h5.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.jobs-list a[data-toggle="collapse"] {
    display: block;
    padding: 10px;
}

div.jobs-list a.list-group-item {
    font-size: 12px;
}

.table-fixed-first-col {
    width: auto;
}

.table-fixed-first-col td:first-child {
    white-space: nowrap;
}

.table-fixed-first-col td:nth-child(2) {
    width: 100%;
}

.job-data td:first-child {
    width: 33%;
}

table > tbody > tr > td {
    min-width: 150px;
}