
body {
    padding-top: 60px; /* 40px to make the container go all the way to the bottom of the topbar */
}

:root {
    --space: 10px;
}

/*
 * smooth transition for hiding flash message
 *
 * This waits 3s, then fades the message to 0 opacity over 2s, then
 * shrinks the size to 0 so that content below it moves up.
 */
@keyframes flash-dismiss {
    83%, to {
        opacity: 0;
    }
    83% {
        margin-top: var(--space);
        padding: var(--space);
        height: auto;
    }
    to {
        margin-top: 0;
        padding: 0 var(--space);
        height: 0;
        display: none;
    }
}

#flash-page {


    /**
     * Animation lasts 2.4s after a delay of 3s.
     */
    animation: flash-dismiss 2.4s ease 3s forwards;

    overflow: hidden;
}

.flash-container {
    text-align: center;
}

.flash-container div {
    margin-top: var(--space);
    padding: var(--space);
}

a:link.piezoicon, a:visited.piezoicon {
    color: #29aae1 !important;
}

a.piezoicon:hover, a.piezoicon:active, a.piezoicon:focus {
    color: #2083AE;
}

div.jobs-list .list-group {
    margin-bottom: 0px;
}

div.jobs-list .panel-heading {
    padding: 0px 0px 0px 10px;
}

div.jobs-list .panel-body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

div.jobs-list .list-group-item {
    border-style: none;
    overflow: hidden;
}

div.jobs-list h5.title {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

div.jobs-list a[data-toggle="collapse"] {
    display: block;
    padding: 10px;
}

div.jobs-list a.list-group-item {
    font-size: 12px;
}

h3.job-name {
    max-width: 585px;
}

a.job-data-delete, a.job-data-add {
    float: right;
    margin-right: 240px;
    display: block;
}

.table-fixed-first-col {
    width: auto;
}

.table-fixed-first-col td:first-child {
    white-space: nowrap;
}

.table-fixed-first-col td:nth-child(2) {
    width: 100%;
}

.job-data td:first-child {
    width: 33%;
}

table > tbody > tr > td {
    min-width: 150px;
}

.form-inline-control {
    display: inline-block;
    margin: 3px 2px;
    margin-bottom: 6px;
}

.form-horizontal-inline {
    margin-bottom: 0px;
}

.piezo-button {
    padding: 6px 8px;
    font-size: 20px;
    line-height: 1.33;
    color: #29aae1;
}

a.piezo-button:hover, a.piezo-button:focus {
    color: #2083AE;
}

.piezo-label {
    font-weight: normal;
}

.submit-btn {
    margin-top: 10px;
}

.inline-header {
    display: inline-block;
}

th, td {
    word-wrap: break-word;
}

.column-long-content {
    width: 17%;
}

.column-success {
    width: 70px;
}

.table-fixed-layout {
    table-layout: fixed;
}

.column-time {
    min-width: 85px;
}
